.p-1 {
    padding: 20px 0;
}

.full-width {
    width: 100%;
}

.image-container {
    width: 200px;
    height: 200px;
    background-color: #f7f7f7;
    border: 2px solid #ccc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.image-container img {
    width: 200px;
}

.delete-btn {
    background-color: #FF3332 !important;
    margin-right: 20px;
}
